<!DOCTYPE html>
<html>
    <head>
        <title>footer</title>
        <link rel="stylesheet" href="../staticfiles/mystyles.css">
    </head>
    <body>
        <div class="footer">
            <small>2023 Copyright &copy; my website All rights reserved.</small>
        </div>
        <div class="footer text-right">
            Since 2023年2月6日起，共<!-- webcounter Code START -->
            <a href="https://www.mfwzjsq.com/" target="_blank"><img src="https://www.mfwzjsq.com/hit.php?id=zerueofoc&nd=6&style=2" border="0" alt="網頁計數器"></a>  人拜訪
        </div>
    </body>
</html> 