<!DOCTYPE html>
<html>
  <head>
    <title>footer</title>
    <link rel="stylesheet" href="../staticfiles/mystyles.css">
  </head>
  <body>
    <div class="footer">
      <small>2023 Copyright &copy; my website All rights reserved.</small>
    </div>
    <div class="footer text-right">
      Since 2023年2月6日起，共<!-- webcounter Code START -->
      <a href="https://www.hitwebcounter.com" target="_blank">
      <img src="https://hitwebcounter.com/counter/counter.php?page=8252342&style=0025&nbdigits=5&type=page&initCount=0" title="Free Counter" Alt="web counter" border="0" /></a>人拜訪
    </div>
  </body>
</html> 