<header>
    <nav>
        <div class="nav-container">
            <div class="logo">
                <img src="assets/images/Quill_drawing_a_line_icon.png" alt="Phantom's Haven Logo">
                <a href="index.html">Phantom's Haven</a>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search...">
            </div>
            <div class="nav-links">
                <a href="https://phantominor.github.io/index.html">Home</a>
                <a href="https://phantominor.github.io/novels.html">Novels</a>
                <a href="https://phantominor.github.io/music.html">Music</a>
                <a href="https://phantominor.github.io/notes.html">Notes</a>
                <a href="https://phantominor.github.io/tcm.html">TCM</a>
                <a href="https://phantominor.github.io/essays.html">Essays</a>
                <a href="https://phantominor.github.io/games.html">Games</a>
            </div>
        </div>
    </nav>
  </header>