<header>
    <nav>
        <div class="nav-container">
            <div class="logo">
                <img src="/assets/images/Quill_drawing_a_line_icon.png" alt="Phantom's Haven Logo">
                <a href="/index.html">Phantom's Haven</a>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search...">
            </div>
            <div class="nav-links">
                <a href="/index.html">HOME</a>
                <a href="/med.html">MED</a>
                <a href="/tcm.html">TCM</a>
                <a href="/novels.html">NOVELS</a>
                <a href="/lingo.html">LINGO</a>
                <a href="/music.html">MUSIC</a>
                <a href="/games.html">GAMES</a>
            </div>
        </div>
    </nav>
  </header>