<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="實運積分系統，登入介面"/>
        <meta name="author" content="phantominor"/>
        <meta name="keywords" content="phantominor 實運積分系統 積分 晶石"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>實運積分系統</title>
        <link rel="stylesheet" href="../staticfiles/log_in.css"/>
    </head>
    <body>
        <!-- Header
        ================================================== -->
        <div class="headerPage"></div>

        <div class="title" style="position:fixed; top:0px; left:0px; right:0px">
            <h1>實運積分系統</h1>
            <p>START: 2023.01.05</p>
        </div>
        <br/><br/><br/>
        <div class="buttons" style="position:relative; top:120px">
            <button id="btn_B">B</button>
            <button id="btn_O" onclick="window.location='../O/pagelist.html'">O</button>
        </div>
        <!-- <script src="../staticfiles/log_in.js"></script> -->
    </body>
</html>